<div dir="ltr">
    <div>
        Beste,
    </div>
    <div><br></div>
    <div>
        Een gebruiker heeft de Lerkeveld kotbar gereserveerd.
        Als iets niet in orde is in de kotbar, contacteer dan de verantwoordelijke in kwestie.
        Hieronder volgt een samenvatting van de reservatie:
    </div>
    <div><br></div>
    <div>
        Naam: {{ reservation.user.fullname }}
    </div>
    <div>
        E-mailadres: <a href="mailto:{{ reservation.user.email}}">{{ reservation.user.email }}</a></div>
    <div>
        GSM: {{ reservation.user.phone }}
    </div>
    <div>
        Datum: {{ reservation.date }}
    </div>
    <div>
        Beschrijving: {{ reservation.description }}
    </div>
    <div><br></div>
    <div>
        Met vriendelijke groeten,
    </div>
    <div>
        Lerkeveld IT<br>
    </div>
</div>
