<div dir="ltr">
    <div>
        Beste,
    </div>
    <div><br></div>
    <div>
        Een gebruiker heeft materiaal gereserveerd.
    </div>
    <div>
        Hieronder volgt een samenvatting van de reservatie:
    </div>
    <div><br></div>
    <div>
        Naam: {{ reservation.user.fullname }}
    </div>
    <div>
        E-mailadres: <a href="mailto:{{ reservation.user.email}}">{{ reservation.user.email }}</a></div>
    <div>
        GSM: {{ reservation.user.phone }}
    </div>
    <div>
        Datum: {{ reservation.date }}
    </div>
    <div>
        Type materiaal: {{ reservation.items|map(attribute="name")|join(", ") }}
    </div>
    <div><br></div>
    <div>
        Met vriendelijke groeten,
    </div>
    <div>
        Lerkeveld IT<br>
    </div>
</div>
