<div dir="ltr">
    <div>
        Dag {{ user.first_name }},
    </div>
    <div><br></div>
    <div>
        Jij (of iemand anders die zich voordoet als jou) heeft een aanvraag
        ingediend om je wachtwoord op Lerkeveld Underground te resetten. Als je
        dit zelf hebt aangevraagd, gebruik dan onderstaande link om je paswoord
        te resetten. Anders mag je deze email negeren.
    </div>
    <div><br></div>
    <div>
        <a href="{{ secret_url }}">{{ secret_url }}</a>
    </div>
    <div><br></div>
    <div>
        Groetjes,
    </div>
    <div>
        Lerkeveld IT<br>
    </div>
</div>
