{% extends "token/_base.html" %}
{% block main %}
<form action="{{ url_for('token.reset', token=token) }}" method="POST" novalidate>
  <label for="password">Nieuw Wachtwoord</label>
  <input name="password" class="w3-input w3-border w3-round-large" type="password" required minlength=8>
  <label for="password" {% if 'password' in errors %}style="color:red"{% endif %}>Vul hier minimaal 8 tekens in.</label>
  <button id="card-submit" class="w3-button w3-text-black w3-round w3-card-2 card-submit" type="submit">
    Reset Wachtwoord
  </button>
</form>
{% endblock main %}
